*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 10%);
    background-color: hsl(40, 4%, 86%);
    font-weight: lighter;
}

input {
    border: 1px solid hsl(0, 0%, 40%);
    padding-left: 0.6rem;
}

button {
    all: unset;
    border: 1px solid hsl(0, 0%, 40%);
}

.library {
    padding: 0 2rem;
}

.card {
    padding: 1rem;
    border-bottom: 0.2px solid hsl(0, 0%, 40%);

    display: flex;
    gap: 2rem;
    align-items: center;
}

.delete-button {
    height: 2rem;
    width: 2rem;

    text-align: center;
}

.form-container {
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    padding: 2rem;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.form {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;

    padding: 2rem;

    border: 1px solid hsl(0, 0%, 40%);
    background-color: hsl(40, 4%, 86%);
    color: hsl(0, 0%, 10%);
}

.input,
.submit {
    width: 12rem;
}

.input {
    height: 1.6rem;
    background-color: hsl(40, 4%, 86%);
    color: hsl(0, 0%, 10%);
}

.submit {
    height: 2.4rem;
    background-color: hsl(0, 0%, 20%);
    color: hsl(40, 4%, 86%);
}

.show-form {
    width: 3rem;
    height: 3rem;
    

    border: 1px solid hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 20%);
    color: hsl(40, 4%, 86%);

    font-size: 1.4rem;

}

